.noneStyle {
    list-style: none;
    padding: 0;
}

.bg_green {
    background-color: green;
}

.h1 {
    font-size: 32px;
}

.h2 {
    font-size: 26px;
}

.white {
    color: white;
}

.inline {
    display: inline;
}

.navLink {
    margin-left: 30px;
    margin-right: 30px;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}