.noneStyle {
    list-style: none;
    padding: 0;
}

.bg_green {
    background-color: green;
}

.h1 {
    font-size: 32px;
}

.h2 {
    font-size: 26px;
}

.white {
    color: white;
}

.inline {
    display: inline;
}

.navLink {
    margin-left: 30px;
    margin-right: 30px;
}

.none-deco {
    text-decoration: none;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.patch {
    margin-top: 100px;
}

.contents-container {
    list-style: none;
    padding: 5px;
}

.contents {
    margin: 10px;
    height: 60px;
}

.contents-button {
    height: 80%;
}

.full-x {
    width: 100%;
    margin: 5px;
}

.full-y{
    height: 200px;
}

.middle-x {
    text-align: center;
}